---
layout: default
title: home
---

    {% for app in site.pages %}
    	{% if app.title != "home" %}

            <div class="col-xs-6 col-sm-4 col-md-2 app-item">
                <a href="{{app.url}}">
                    <span class="app-thumb-wrapper">
                        <span class="app-thumb">
                            <img src="images/{{app.thumbnail}}" width="126" height="126" alt="{{ app.title }}"/>
                        </span>
                    </span>
                    <span class="app-title">{{ app.title }}</span>
                </a>
            </div>
        {% endif %}
    {% endfor %}